/* CSS Style Index */

body {
  background-color: rgb(235, 232, 232);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: crimson;
  font-size: 24px;
  font-weight: bold;
}

ul > li {
  list-style: circle;
  margin-bottom: 4px;
}

/* CSS Style Recipes */

img {
  width: 350px;
  height: auto;
}

h2, .discription {
  color: rgb(20, 161, 67);
}

h2 {
  font-size: 20px;
  font-weight: 500;
}
.discription {
  font-style: italic;
}

.steps > li {
  margin-bottom: 6px;
}